.testNavBar-container {
    position:relative;
    width:100%;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 30px;
    background-color: #0d2d52;
    font-size: 22px;
    .test,
    .subject {
        font-size: 25px;
        padding-top: 10px;
    }
}