.instruction-container {
    position: absolute;
    top:10vh;
    height: 90vh;
    width: 100%;
    background-color: #b7e4c7;
    .instructions {
        font-size: 20px;
        color: #1b4332;
        position: absolute;
        top: 40%;
        left: 55%;
        transform: translate(-50%, -50%);
    }
    .btn-container{
        position: absolute;
        bottom:5vh;
        right:10%;
        display:flex;
        column-gap: 40px;
    }
}